* {
  --main-element-clr: rgb(51, 51, 53);
  --main-border-clr: rgb(105, 105, 105);
  --main-text-clr: rgb(218, 218, 218);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
}
/* Defining the grid */
.wrapper {
  display: grid;

  grid-template-columns: 1fr 3fr 1fr;
  gap: 1rem;
  grid-template-areas:
    'header header header'
    '. nav .'
    '. content sidebar'
    'footer footer footer';
}
/* header and Nav styling */
.main-header {
  grid-area: header;
  color: var(--main-text-clr);
  background-color: var(--main-element-clr);
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--main-border-clr);
  border-radius: 0 5px 0 5px;
  padding: 0.5rem;
}

/* search bar styling */
.search-bar-container {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 1rem;
  border-radius: 60px;
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.search-bar-container > .search-bar {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  color: var(--main-text-clr);
}

.search-btn {
  border: 0;
  border-radius: 50px;
  background: transparent;
  cursor: pointer;
  color: white;
}
.main-nav {
  border: 1px solid var(--main-border-clr);
  grid-area: nav;
  background-color: var(--main-element-clr);
  border-radius: 5px;
}

.nav-list {
  display: flex;
  justify-content: space-evenly;
  color: var(--main-text-clr);
  list-style-type: none;
}

/* main area styling */
.main-content {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  gap: 1rem;
  grid-area: content;
}

.post-container {
  padding: 1rem;
  border-radius: 5px;
  color: var(--main-text-clr);
  background-color: var(--main-element-clr);
  border: 1px solid var(--main-border-clr);
}

.reaction-container {
  display: flex;
  gap: 0.3rem;
  align-items: center;
}

.reaction-container > .like-btn {
  border: none;
}

.reaction-container > .like-btn:hover {
  box-shadow: none;
}

.reaction-container > .like-btn > i:hover {
  color: red;
}
/* sidebar/aside styling */
.sidebar {
  border: 1px solid var(--main-border-clr);
  grid-area: sidebar;
  background-color: var(--main-element-clr);
  border-radius: 5px;
  max-width: 80%;
}
/* footer styling */
.main-footer {
  border-top: 1px solid var(--main-border-clr);
  grid-area: footer;
  background-color: var(--main-element-clr);
}
/* MODAL STYLING */
.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-container {
  background-color: #000000;
  color: var(--main-text-clr);
  display: flex;
  flex-direction: column;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid var(--main-border-clr);
  width: 80%;
  border-radius: 5px;
  gap: 0.7rem;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.hidden {
  display: none;
}

/* BUTTON STYLING */
.btn {
  background-color: var(--main-element-clr);
  color: var(--main-text-clr);
  border: 1px solid var(--main-border-clr);
  height: 2rem;
  border-radius: 5px;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0px 0px 2px 2px rgb(255, 255, 255);
}

.tagBtn {
  background-color: var(--main-element-clr);
  color: var(--main-text-clr);
  border: 1px solid var(--main-border-clr);
  height: 1rem;
  border-radius: 5px;
  margin-right: 0.2rem;
}
.tagBtn:hover {
  cursor: pointer;
  box-shadow: 0px 0px 2px 2px rgb(255, 255, 255);
}

/* THEME SWITCHER STYLING
https://www.w3schools.com/howto/howto_css_switch.asp */
/*box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
/* hides the default HTML checkbox*/
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
/* the slider*/
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #000000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #000000;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round::before {
  border-radius: 50%;
}

/* light mode class*/
.light-mode {
  background-color: white;
  color: black;
}
